<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>胖吴</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/public-type.css" />
    <link rel="stylesheet" href="../css/compound.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/html2canvas.js"></script>
</head>
<body>
<div class="youzhipai-backstage"><!-- #BeginLibraryItem "/Library/top.lbi" -->	<!-- 头部-start -->
    <div class="backstage-header">
        <ul class="clearfix">
            <li class="logo"></li>
            <li class="user-account">
				<span>
					<i>text3</i>
					<ol class="header-menu-list">
						<li><a href="../account/setting.html">账号设置</a></li>
						<li><a href="../shop/shops.html">店铺选择</a></li>
					</ol>
				</span>
                <a href="#" title="退出">退出</a>
            </li>
        </ul>
    </div>
    <!-- 头部-end -->
    <div class="backstage-content clearfix">
        <!-- 左侧导航栏-start -->
        <div class="backstage-left-side">
            <ul class="index customer-style">
                <li> <strong></strong>
                    <a href="../index.html" title="首页">首页</a> </li>
            </ul>
            <ul class="backstage-order backstage-management">
                <li class="clearfix"> <strong></strong> <span>订单管理</span> </li>
                <li> <a href="../order/index.html" title="订单管理">订单管理</a> </li>
                <li> <a href="../package/index.html" title="礼包管理">礼包管理</a> </li>
                <li> <a href="../send/index.html" title="发货管理">发货管理</a> </li>
            </ul>
            <ul class="backstage-commodity backstage-management">
                <li class="clearfix"> <strong></strong> <span>商品管理</span> </li>
                <li> <a href="../category/list.html" title="分类管理">分组管理</a> </li>
                <li> <a href="productList.html" title="产品管理">商品管理</a> </li>
                <li> <a href="../category/recommendation.html" title="精品推荐">精品推荐</a> </li>
            </ul>
            <ul class="backstage-distributor backstage-management">
                <li class="clearfix"> <strong></strong> <span>分销管理</span> </li>
                <li> <a href="../distribution/productList.html" title="分销商品">分销商品</a> </li>
                <li> <a href="../distribution/list.html" title="分销管理">分销管理</a> </li>
            </ul>
            <ul class="backstage-supplier backstage-management">
                <li class="clearfix"> <strong></strong> <span>供货管理</span> </li>
                <li> <a href="../supplier/index.html" title="供货商管理">供货商管理</a> </li>
                <li> <a href="../warehouse-manage/list2.html" title="精品推荐">仓库管理</a> </li>
                <li> <a href="../warehouse-manage/list.html" title="仓存管理">仓存管理</a> </li>
            </ul>
            <ul class="coupon customer-style backstage-management">
                <li class="clearfix"> <strong></strong> <a href="../coupons/coupons_all.html" title="优惠券管理">优惠券管理</a> </li>
            </ul>
            <ul class="backstage-order backstage-management">
                <li class="clearfix"> <strong></strong> <span>线下销售管理</span> </li>
                <li> <a href="../sales/list.html" title="线下销售">线下销售</a> </li>
                <li> <a href="../sales/salesman.html" title="业务员管理">业务员管理</a> </li>
            </ul>
            <ul class="backstage-order customer-style backstage-management">
                <li class="clearfix"> <strong></strong> <a href="../invoice/index.html" title="发票管理">发票管理</a> </li>
            </ul>
            <ul class="backstage-shop backstage-management">
                <li class="clearfix"> <strong></strong> <span>店铺管理</span> </li>
                <li> <a href="../shop/setting.html" title="店铺设置">店铺设置</a> </li>
                <li> <a href="../module/micro_page_list.html" title="店铺装修">店铺装修</a> </li>
                <li> <a href="../shop/nav.html" title="店铺导航">店铺导航</a> </li>
            </ul>
            <ul class="backstage-ad backstage-management">
                <li class="clearfix"> <strong></strong> <span>广告管理</span> </li>
                <li> <a href="../ad/floating-ad.html"  title="浮层广告">浮层广告</a> </li>
            </ul>
            <ul class="backstage-withdrawals customer-style backstage-management">
                <li class="clearfix"> <strong></strong> <a href="../trade/income.html" title="收入提现">收入提现</a> </li>
            </ul>
            <ul class="backstage-permissions backstage-management">
                <li class="clearfix"> <strong></strong> <span>账号权限管理</span> </li>
                <li> <a href="../user/index.html" title="用户管理">用户管理</a> </li>
                <li> <a href="../group/index.html" title="用户组管理">用户组管理</a> </li>
            </ul>
            <ul class="backstage-wechat customer-style backstage-management">
                <li class="clearfix"> <strong></strong>
                    <a href="" title="微信管理">微信管理</a> </li>
            </ul>
        </div>
        <!-- 左侧导航栏-end -->
        <!-- 右侧内容-start -->
        <div class="backstage-right-content">
            <div class="layout">
                <div class="backstage-content-height clearfix">
                    <h3>图片合成</h3>
                </div>
                <div class="layout_addproduct clearfix" id="addProduct">
                    <ul class="left">
                        <li>
                            <h2>转发图信息</h2>
                        </li>
                        <li>
                            <span>主图：</span>
                            <div class="main-img">
                                <img src="../images/00.jpg" alt="">
                                <label for="changeImg">重新上传</label>
                                <input type="file" id="changeImg">
                            </div>
                        </li>
                        <li>
                            <span>标题：</span>
                            <input type="text" class="title" value="【潮汕】手工牛肉丸">
                        </li>
                        <li>
                            <span>描述：</span>
                            <textarea class="describe" maxlength="74">正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉丸正宗牛肉</textarea>
                        </li>
                    </ul>
                    <div class="right">
                        <h2>转发图预览</h2>
                        <div class="preview"></div>
                    </div>
                </div>
                <div class="dowm-img">
                    <span class=" btn btn-primary">下载图片</span>
                </div>
            </div>
        </div>
        <!-- 右侧内容-end -->
    </div>
    <div class="backstage-footer"><p>深圳优之派电子商务有限公司　版权所有</p></div>
</div>
<script src="../js/compound.js"></script>
</body>
<html>
