link(rel='stylesheet',href='//t.padmindata.youzhipai.cn/css/addProduct.css')
.backstage-right-content
  .layout
    .backstage-content-height.clearfix
      h3 添加商品
    // star!
    #addProduct.layout_addproduct
      .left
        //.box
        //  .bar 选择商品类别
        //  .group
        //    .item
        //      label 商品类别：
        //      div
        //        label
        //          input(type='radio', name='shopsType', checked='')
        //          | 普通商品
        //        label
        //          input(type='radio', name='shopsType')
        //          | 分销商品
        //    .item.pro-box.hide
        //      label 分销商品：
        //      .distribution.show_class
        //        button.btn.btn-primary.sel_class(type='button', data-toggle='modal', data-target='#distribution') 选择分销商品
        // 基本信息star!
        .box
          .bar 基本信息
          .group
            .item
              label
                em *
                | 图片：
              div
                ul#sortable1.img.clearfix
                  li.ui-state-disabled
                    label.add-img(for='basicFile')
                    input#basicFile.add_change(type='file', name='')
                p.help-desc 建议尺寸：640 x 高度不限；且多图尺寸要相同。最多支持5张图片
                p.error.hide 至少上传1张图片
            .item
              label
                em *
                | 名称：
              .js-basic-title
                input(type='text')
                p.error.hide 商品名长度不能少于一个字或者多于100个字
            .item
              label 简单描述：
              .js-basic-simple
                textarea
            .item
              label
                em *
                | 商品类目：
              div
                select
                  option 请选择商品类目
                  option 女装男装
                  option 鞋类箱包
                  option 母婴用品
                  option 护肤彩妆
                  option 汇吃美食
                  option 珠宝配饰
                  option 家装建材
                  option 家居家纺
                  option 汽车用品
                  option 手机数码
                  option 家电办公
                  option 运动户外
                  option 花鸟文娱
                p.help-desc 选错类目会影响搜索精准率和商品的转化率。
                p.error 请选择商品类目
            .item
              label
                em *
                | 可开发票类型：
              div
                select
                  option 增值税普通发票
                  option 增值税专用发票
            .item
              label 分组：
              .show_class.js-del-group
                button.btn.btn-primary.sel_class(type='button', data-toggle='modal', data-target='#class') 选择分组
            .item
              label 标签：
              .show_class.js-label.clearfix
                button.btn.btn-primary.sel_class(type='button', data-toggle='modal', data-target='#label') 选择标签
              p.lable-hint.help-desc 请核对好标签，确保无误。
        // 基本信息end!
        // 规格/价格star!
        .box
          .bar 规格/价格
          .group
            .item
              label
                em *
                | 价格：
              .price.js-basic-price
                input(type='text', placeholder='0.00')
                |  元
                input(type='text', placeholder='原价')
                |  元
                p.error.hide 商品价格不能为空
            .item
              label
                em *
                | 规格：
              div
                button.btn.btn-primary.js-add-norms +添加规格
                .more.hide
                  .js-norms-name
                    div
                      input(type='text', placeholder='请输入规格名称')
                      ul
                        li 1
                        li 2
                        li 3
                        li 4
                        li 5
                    p.error 规格名称不能为空
                  .js-norms-table
                    table(width='100%', border='0', cellspacing='1', cellpadding='0')
                      thead
                        tr
                          th(scope='col') 规格值
                          th(scope='col') 价格
                          th(scope='col') 库存
                          th(scope='col') 别名
                          th(scope='col') 编码
                          th(scope='col') 图片
                          th(scope='col') 排序
                          th(scope='col') 操作
                      tbody
                        tr
                          td.norms-worth
                            input(type='text')
                          td
                            input(type='text')
                          td
                            input(type='text')
                          td
                            input(type='text')
                          td
                            input(type='text')
                          td
                            label
                              span.add-img +加图
                              input.hide(type='file', name='')
                            span.hide
                              img(src='')
                              a.del-img(href='javascript:;') 删除
                          td
                            input.w-30(type='text')
                          td
                            a.del(href='javascript:;', title='删除') 删除
                    p.error.hide 规格值/价格/库存/编码 不能为空
                    button.btn.btn-primary.js-add-normstabel +增加
        // 规格/价格end!
        // 运费/其它star!
        .box
          .bar 运费/其它
          .group
            .item.js-basic-origin
              label 供货商：
              div
                select
                  option 供货商名称
            .item.js-basic-origin
              label 产地：
              div
                input(type='text')
            .item.js-basic-freight
              label 运费：
              .freight
                label
                  input(type='radio', checked='', name='freight')
                  |  免邮费
                p
                  textarea(placeholder='运费简单说明')
            .item
              label 收货短信：
              div
                // <textarea placeholder=""></textarea>
                select
                  option 清远鸡收货提醒
                span.refresh-add
                  a(href='javascript:;') 刷新
                  | |
                  a(href='../sms/add.html') +新建
                p.help-desc 发货后系统自动把模板内容通过短信形式发给客户
        // 运费/其它end!
        // 详细描述star!
        .box
          .bar 详细描述
          .detailed
            p
              textarea
        // 详细描述end!
      // 预览star!
      .right.preview
        .head
        .title_bar
        #appBasic.md_preview
          // 图片滚动star !
          .swiper-container
            .swiper-wrapper

            .swiper-pagination
          // 图片滚动end !
          h1.title.js-app-title 名称
          .title_cmt.js-app-simple 简单描述
          .price.js-app-price
            span ￥0.00
            span ￥0.00
          ul.spec_info.js-app-norms
            li
              span 规格
              p
                span 规格值
          ul.exp_info
            li.js-app-origin
              span 产地
            li.describe.js-app-describe
              p 运费简单说明
          .details
            a(href='javascript:void(0);')
              span 商品详情
              i
          // 加入购物车star
          .add_shopping
            span
          // 加入购物车end
          .wrapper
            ul#f_btn.footer_btn
              li.car
                a.shopping-cart(href='javascript:void(0);')
              li.treat_yourself
                a(onclick="document.getElementById('win').className='win'", href='javascript:void(0);') 犒劳自己
              li
                a(href='javascript:void(0);', onclick="document.getElementById('win2').className='win'") 赠送他人
          // 犒劳自己弹出框star!
          #win.win_none
            .layout_win
              a.close(onclick="document.getElementById('win').className='win_none'", href='javascript:void(0);')
              .commodity
                span.img
                  img(src='../images/qyj.jpg')
                div
                  h3 名称
                  strong ￥0.00
              ul.spec
                li
                  h3 规格：
                  p
                    label
                      input(type='radio', name='productItemId', value='1481', checked='checked')
                      span 值
                    label
                      input(type='radio', name='productItemId', value='1481')
                      span 值
              ul.num
                li 购买数量
                li
                  span
                    a#minus(href='javascript:void(0);') -
                    input#buyAmount(type='tel', name='buyAmount', th:value='1', value='1')
                    a#add(href='javascript:void(0);') +
              // </form>
              .btn(onclick='buyForMyself()')
                a(href='javascript:void(0);') 下一步
            #transparent_bg.transparent_bg
          // 犒劳自己弹出框end!
          // 赠送他人弹出框star!
          #win2.win_none
            .layout_win
              a.close(onclick="document.getElementById('win2').className='win_none'", href='javascript:void(0);')
              .commodity
                span.img
                  img(src='../images/qyj.jpg')
                div
                  h3 名称
                  strong ￥0.00
              ul.spec
                li
                  h3 规格：
                  p#sendToOtherRadio
                    label
                      input(type='radio', name='sendToOtherProductItemId', value='1481', checked='checked')
                      span 值
                    label
                      input(type='radio', name='sendToOtherProductItemId', value='1481')
                      span 值
              .btn(onclick='sendToOther()')
                a(href='javascript:void(0);') 下一步
            .transparent_bg
          // 赠送他人弹出框end!
          // 加入购物车star!
          #win1.win_none
            .layout_win
              a.close(onclick="document.getElementById('win1').className='win_none'", href='javascript:void(0);')
              .commodity
                span.img
                  img(src='../images/qyj.jpg')
                div
                  h3.js-shop-title 名称
                  strong.js-shop-price ￥0.00
              ul.spec
                li
                  h3 规格：
                  p#forMyselfRadio
                    label
                      input(type='radio', name='forMyselfRadio', value='', checked='checked')
                      span 值
              ul.num
                li 购买数量
                li
                  span
                    a(href='javascript:void(0);') -
                    input#buyMeasure(type='tel', name='buyMeasure', value='1')
                    a(href='javascript:void(0);') +
              .btn.add-to-cart
                span 加入购物车
            #transparent_bg.transparent_bg
          // 加入购物车star!
      // 预览end!
    // end!
    // 微信分享设置star!
    .layout_addproduct
      .left
        // 基本信息star!
        #weChatshare.box
          .bar 微信分享设置
          .group
            .item
              label
                em *
                | 图片：
              div
                ul.img
                  li.ui-state-disabled
                    label.add-img(for='weChatFile')
                    input#weChatFile(type='file', name='')
                    input#wechatShareImageUrl(type='hidden')
                p.help-desc 建议尺寸：300 x 300像素
                p.error.hide 请上传1张图片
            .item.js-title-share
              label
                em *
                | 标题：
              div
                input(type='text')
                p.error.hide 标题不能为空
            .item.js-describe-share
              label
                em *
                | 描述：
              div
                textarea
                p.error.hide 描述不能为空
      // 预览star!
      .right.preview
        .head
        .title_bar
        .md_preview_share.js-weChat-share
          div
            div
              h2.js-weChat-title 分享标题
              span.img.js-weChat-img
              p.js-weChat-describe 分享描述
            span.headimg
      // 预览end!
    // 微信分享设置end!
    .layout_btn
      button#submitBtn.btn.btn-primary 提交
// 分组star!
#class.modal.fade.order_detail_seller_message.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title 分组
      .modal-body
        ul.list_class
          li
            label
              input(type='checkbox')
              span 分类1
          li
            label
              input(type='checkbox')
              span 分类2
          li
            label
              input(type='checkbox')
              span 分类3
          li
            label
              input(type='checkbox')
              span 分类4
          li
            label
              input(type='checkbox')
              span 分类5
          li
            label
              input(type='checkbox')
              span 分类6
          li
            label
              input(type='checkbox')
              span 分类7
          li
            label
              input(type='checkbox')
              span 分类8
          li
            label
              input(type='checkbox')
              span 分类9
          li
            label
              input(type='checkbox')
              span 分类10
      .modal-footer
        button.btn.btn-default.js-modal-close(type='button', data-dismiss='modal') 关闭
        button.btn.btn-primary.js-btn-save(type='button') 保存
// 分组end!
// 标签star!
#label.modal.fade.order_detail_seller_message.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.label-mask(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title
          | 标签
          .modal-search
            input(type='text', placeholder='请输入标签')
            input(type='hidden')
            button.btn.btn-default(type='button') 搜索
      .modal-select-label.clearfix
        label 已选中标签
        ul
      .modal-body
        ul.list_class
          li
            label
              input(type='checkbox')
              span 标签1
          li
            label
              input(type='checkbox')
              span 标签2
          li
            label
              input(type='checkbox')
              span 标签3
          li
            label
              input(type='checkbox')
              span 标签4
          li
            label
              input(type='checkbox')
              span 标签5
          li
            label
              input(type='checkbox')
              span 标签6
          li
            label
              input(type='checkbox')
              span 标签7
          li
            label
              input(type='checkbox')
              span 标签8
          li
            label
              input(type='checkbox')
              span 标签9
          li
            label
              input(type='checkbox')
              span 标签10
      .modal-footer
        button.btn.btn-default.js-modal-close(type='button', data-dismiss='modal') 关闭
        button.btn.btn-primary.js-lable-save(type='button') 保存
// 分组end!
script(src='/javascripts/addShop.js')
script(src='/javascripts/add_product.js')

